@use "variables" as *;
@use "utils" as *;

$bp-min: "md";
$bp-max: "sm";

.wrapper {
  padding-left: 1rem;
  padding-right: 1rem;
}

.header {
  text-align: center;
  margin-bottom: 1.25rem;

  h2 {
    position: relative;
    @include glitch-text(
      $background: transparent,
      $foreground: $black,
      $color1: $glitch1,
      $color2: $glitch2,
      $offset: 5px
    );
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-bottom: 2rem;

  @include media-breakpoint-up($bp-min) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.gridItem {
  width: 100%;
  position: relative;
  cursor: pointer;

  img {
    aspect-ratio: 1;
    display: inline-block;
    width: 100%;
    line-height: 0;
  }
  picture {
    aspect-ratio: 1;
    display: inline-block;
    width: 100%;
  }
}

.gridItemImage {
  line-height: 0;
}

.gridItemTitle {
  background-color: #000000;
  font-family: $font-family-monospace;
  display: block;
  font-size: 1rem;
  color: #ffffff;
  padding: 0.25rem 0.5rem;
  text-align: right;

  @include media-breakpoint-up($bp-min) {
    font-size: 1rem;
    display: inline-block;
    padding: 0.5rem 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.modalImage {
  width: 100%;
  img,
  picture {
    width: 100%;
  }
}
