.svg {
  @include stretch-within;
  overflow: visible;
}

.zig-zag {
  &--dark {
    fill: $black;
    .invert & {
      fill: $white;
    }
  }

  &--light {
    fill: $white;
    stroke: $black;
    .invert & {
      fill: $white;
    }
  }
}

.title {
  font-weight: 900;
  font-size: 100px;
  letter-spacing: 0.15em;
  text-anchor: middle;

  &--main {
    fill: #000;
  }

  &--masked {
    fill: white;
  }
}

.eyebrow {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.55em;
  letter-spacing: 0.15em;
  text-anchor: middle;
}
