.hero {
  text-align: center;
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ccc;
  overflow: hidden;
  position: relative; // SVG is absolutely stretched within this parent
}

.hero-header {
  border: 1px solid blue;
  padding: 20px;
}

.hero-title {
  position: relative;
}

.hero-title-glitch {
  @include stretch-within;
  font-size: inherit;
  font-weight: inherit;
}

.hero-eyebrow {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.7em;
  margin-bottom: 30px;
}

.hero-social {
  display: flex;
  align-items: center;
  justify-content: center;
}
