$background-size-buffer: 500px;

.hero {
  //background: #ccc;
  overflow: hidden;
  position: relative;
  min-height: 90vh;
  background-image: radial-gradient(ellipse at center, transparent, #ccc);
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: scale(1.25);

  &--normal {
    position: relative;
    min-height: 90vh;
    height: 100%;
    width: 100%;
    background: {
      image: url("/hero/hero-bg.svg");
      repeat: no-repeat;
      size: cover;
    }
  }
  &--masked {
    z-index: 10;
    @include stretch-within;
    height: 100%;
    width: 100%;
    pointer-events: none;
    color: white;
    mask: {
      image: url("/hero/hero-bg-mask.svg");
      repeat: no-repeat;
      size: cover;
    }
  }
}

.hero-content__inner {
  transform: scale(0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hero-title {
  position: relative;

  .hero-content--masked & {
    @include glitch-text(
      $background: $black,
      $foreground: $white,
      $color1: $glitch1,
      $color2: $glitch2,
      $offset: 5px
    );
  }
}

.hero-eyebrow {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.7em;
  margin-bottom: 30px;
}

.hero-social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  a {
    width: 28px;
    height: 28px;
    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
  svg {
    width: 100%;
    height: 100%;
  }
}
