$background-size-buffer: 500px;

.hero {
  background: #ccc;
  overflow: hidden;
  position: relative;
  min-height: 90vh;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: scale(1.25);

  &--normal {
    position: relative;
    min-height: 90vh;
    height: 100%;
    width: 100%;
    background: {
      image: url("/hero/hero-bg.svg");
      repeat: no-repeat;
      size: cover;
    }
  }
  &--masked {
    z-index: 10;
    @include stretch-within;
    height: 100%;
    width: 100%;
    pointer-events: none;
    background-clip: text;
    color: transparent;
    mask: {
      image: url("/hero/hero-bg-mask.svg");
      repeat: no-repeat;
      size: cover;
    }
    color: white;
  }
}

.hero-content__inner {
  transform: scale(0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hero-title {
  position: relative;
}

.hero-eyebrow {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.7em;
  margin-bottom: 30px;
}

.hero-social {
  display: flex;
  align-items: center;
  justify-content: center;
}
