$spacing: 8px;

.footer {
  padding: 50px 20px 10px;
  background-color: $black;
}

.footer__social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;

  a {
    width: 30px;
    margin-left: divide($spacing, 2);
    margin-right: divide($spacing, 2);

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.footer__copyright {
  font-size: 10px;
  color: $white;
  text-align: center;
  padding: 4px 0;
}
