$color-shift-speed: 500ms;
$color-shift-timing: ease;
.site-nav {
  position: fixed;
  top: 0;
  z-index: 100;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: "Roboto Mono", sans-serif;
  transition: color $color-shift-speed $color-shift-timing;
  padding-left: 20px;
  padding-right: 20px;

  // Invert color to white when header is inverted.
  &.site-nav--inverted,
  .layout-wrapper.bg-black {
    color: $white;
  }

  // Bug: Anchor Color in Chrome Browser
  // For some reason the anchor tags aren't inheriting the color of the <nav>
  // when the style inverts, so I'm adding the colors/transitions explicitly here
  a {
    color: $black;
  }
  &.site-nav--inverted a {
    color: $white;
  }

  nav {
    ul {
      display: flex;
      align-items: flex-start;
      text-transform: uppercase;
    }
    li {
      margin-right: 10px;
      flex: 1 0 auto;
      position: relative;

      // Active link styling
      &.active {
        a {
          background-image: linear-gradient(
            to bottom right,
            $glitch1,
            $glitch2
          );
          background-clip: text;
          color: transparent;
        }
      }

      &:before,
      &:after {
        display: inline-block;
        color: transparent;
        position: relative;
        opacity: 0;
        background-image: linear-gradient(to bottom right, $glitch1, $glitch2);
        background-clip: text;
        transition: transform 1s ease, opacity 0.5s ease;
        transform-origin: center center;
      }
      &:before {
        content: "[";
        transform: translateX(4px);
      }

      &:after {
        content: "]";
        transform: translateX(-4px);
      }

      &.active {
        &:before,
        &:after {
          opacity: 1;
          transform: translateX(0);
        }
      }

      a {
        position: relative;
      }
    }
  }
}

.site-nav__logo {
  width: 50px;

  svg {
    path {
      transition: all $color-shift-speed $color-shift-timing;
    }
  }
}
