@use "variables" as *;

$btn-gradient: linear-gradient(to right, $glitch1, $glitch2);
$btn-border-width: 3px;

a,
button {
  &.btn {
    display: inline-block;
    border-style: solid;
    position: relative;
    text-transform: uppercase;
    border-width: $btn-border-width;
    border-image-slice: 1;
    border-image-source: $btn-gradient;
    padding: 10px;
    font-family: $font-family-monospace;
    color: $black;
    letter-spacing: 0.1em;
    transition: color 150ms ease;

    &--light {
      color: $white;
    }

    &:hover,
    &:focus {
      color: $white;
    }

    // Triple caret following the text.  On hover it animates as if being typed
    &:after {
      content: ">>>";
      padding-left: 5px;
      position: relative;
      top: 0.8 * -0.25em;
      font-size: 0.8em;
      vertical-align: middle;
      color: currentColor;
      display: inline-block;
    }

    // Gradient Overlay
    &:before {
      content: "";
      background-image: $btn-gradient;
      position: absolute;
      top: -1 * $btn-border-width;
      right: -1 * $btn-border-width;
      bottom: -1 * $btn-border-width;
      left: -1 * $btn-border-width;
      clip-path: inset(0 100% 0 0);
      transform-origin: 0 50%;
      transition: clip-path 250ms ease;
      z-index: 0;
      mix-blend-mode: lighten;
      pointer-events: none;
    }

    &:hover,
    &:focus {
      &:before {
        clip-path: inset(0 0 0 0);
      }

      &:after {
        animation: typein 1.5s infinite;
      }
    }
  }
}

@keyframes typein {
  0%,
  24% {
    clip-path: inset(0 100% 0 0);
  }

  25%,
  49% {
    clip-path: inset(0 66% 0 0);
  }

  50%,
  74% {
    clip-path: inset(0 33% 0 0);
  }

  75%,
  100% {
    clip-path: inset(0 0 0 0);
  }
}
