// Note: This file is prepended to all stylsheets via the next config.
// This file shouldn't contain any actual style declarations, or else
// they're be duplicated.
$black: #000;
$white: #fff;
$blue: blue;
