@import "./reset";
@import "./accessibility";
@import "./typography";
@import "./display";

html,
body {
  font-size: $font-size-base;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.list-unstyled {
  list-style: none;
  padding: unset;
  margin: unset;
  position: static;
  display: inline-block;
}

// ============
// Static Grain Background Effect
// ============
.bg-grain {
  overflow: hidden;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    @include stretch-within;
    z-index: -1;
    width: 200vw;
    height: 200vh;
    top: -50%;
    left: -50%;
    pointer-events: none;
    animation: moveNoise 0.25s steps(5) infinite;
    background: {
      image: url("/noise.png");
    }
  }
}

@keyframes moveNoise {
  20%,
  39% {
    transform: translate(0, 0);
  }

  40%,
  59% {
    transform: translate(-20px, -7px);
  }

  60%,
  79% {
    transform: translate(8px, 13px);
  }

  80%,
  99% {
    transform: translate(24px, -2px);
  }

  100%,
  19% {
    transform: translate(17px, 25px);
  }
}
