// The actual grid for this site is straightforward enough that utility classes aren't necessary.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
) !default;

$max-grid-width: map-get($grid-breakpoints, "xxl");
